/* Using only client-side code, create a version of the game Hangman (http://en.wikipedia.org/wiki/Hangman_(game)). The game can generally be implemented however you want but should adhere to the following:
1) Start game by entering a word into a text box. Letters only, case-insensitive.
2) Display an underscore/placeholder for each letter of the word.
3) Enter a letter guess into another textbox and submit. Letters only, case-insensitive.
4) Whenever a correct guess is made, reveal the letter in the word by replacing the corresponding placeholder.
5) Whenever a wrong guess is made, draw another piece of the hangman. To save time, you can just decrement a "Remaining Guesses" counter instead of actually drawing a hangman.
6) Duplicate guesses are not allowed.
7) If you guess the word, display a "You win!" alert, otherwise display a "You lose!" alert. This should represent production-ready code, so show us code you would be proud to deploy.
8) Cross-browser compatible. IE10+.  */




body {
font-size: 40px;

}


#placeholder {

min-height: 100px; 

}


#placeholderb {

min-height: 100px; 

}


#wordbank {
min-height:100px;
max-width:50%;
border:2px;
border-radius: 10px;
border-color: black;
border-style:solid;
}

